@import url('https://fonts.googleapis.com/css?family=Aldrich|Oswald|Sarpanch:400,700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

#islamicDate {
  padding-top: 5vh;
  text-align: center;
  font-size: 2em;
}

#location {
  text-align: center;
  font-size: 1.2em;
  margin-top: 3px;
  margin-bottom: 30px;
}

#islamicDate, #location, #container {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-shadow: 0.5px 0.5px white;
}

.prayer {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  margin-top: 20px;
  text-align: left;
  padding-left: 25px;
}

.prayer:last-child {
  margin-bottom: 20px;
}

.prayer-name {
  width: 50%;
}

.prayer-time {
  width: 50%;
  padding:0;
}

.prayer, #islamicDate, #location {
  text-shadow: 3px 2px darkblue;
  font-weight: bold;
  letter-spacing: 0.02em;
}
